.big-day {
  @include container;
  align-items: center;
  margin-top: rem(50);

  @include media($bp-md) {
    display: flex;
    max-width: rem(800);
  }

  &__content {
    flex: 0 1 rem(600);
    margin-bottom: rem(50);

    @include media($bp-md) {
      margin-right: 1.5rem;
    }
  }

  &__title {
    text-align: center;

    @include media($bp-md) {
      text-align: left;
    }
  }

  &__picture-container {
    flex: 1 1 100%;
    text-align: center;
    margin: 0 rem(-16);
  }

  &__picture {
    margin: 0 -1em;
    width: 100%;

    @include media($bp-sm) {
      max-width: rem(400);
      transform: rotate(-10deg) translateY(2em);
      box-shadow: 0rem 1rem 3rem rgba(black, 0.2);
    }
    @include media($bp-md) {
      width: 70%;
      transform: rotate(-10deg);
    }

  }

  &__details {
    border: 0;
    margin: auto;

    @include media($bp-md) {
      margin: 0;
    }
  }

  &__detail {
    vertical-align: top;
    padding-bottom: 0.7em;
  }

  &__label {
    padding-right: 1em;
    font-weight: 600;
  }
}