.cta {
  background-color: $blue;

  &__container {
    @include container;
    color: white;

    @include media($bp-md) {
      max-width: rem(550);
      text-align: center;
    }
  }

  &__title {
    color: inherit;
  }

  &__message {
    @include media($bp-sm) {
      font-size: 1.3em;
    }
  }

  &__button {
    @include button;
    background-color: $light-blue;
    color: $black;
    font-size: 1.1em;
    padding: 0.4em 1em;

    &:hover {
      background-color: darken($light-blue, 10%);
    }
  }
}