.more-info {
  &__content {
    @include container;
    padding-bottom: 0.5rem;

    @media (min-width: rem(1000)) {
      padding-bottom: 0.5rem;
    }
  }

  &__list {

    @include media($bp-md) {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }
  }

  &__item {
    margin-bottom: 1em;

    @include media($bp-md) {
      flex: 0 1 calc(50% - 2em);
      box-sizing: border-box;
    }
  }

  &__question {
    font-family: $font-sans-serif;
    font-weight: 600;
    color: $black;

    @include media($bp-md) {
      font-size: 1.5em;
    }
  }
}