button, 
input[type=button], 
input[type=submit],
a {
  cursor: pointer;

  &:focus,
  &:active {
    outline: dotted 1px currentColor;
  }
}

@mixin button {
  -moz-appearance: none;
  -webkit-appearance: none;

  margin: 0;
  padding: 0.1em 0.5em;
  
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  
  background: none;
  border: none;
  border-radius: 0;

  &:hover {
    text-decoration: none;
  }
}
button, 
input[type=button], 
input[type=submit] {
  @include button;
}

a {
  color: $brown;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}