@mixin container {
  margin: auto;
  max-width: rem(960);
  padding-left: rem(16);
  padding-right: rem(16);

  @media (min-width: rem(1000)) {
    padding-left: rem(16);
    padding-right: rem(16);
  }
}