@mixin container {
  margin: auto;
  max-width: rem(800);
  padding: 1em rem(16);

  @media (min-width: rem(1000)) {
    padding: 3em rem(16);
  }
}

@mixin square($size) {
  height: $size;
  width: $size;
}

@mixin circle($size) {
  @include square($size);
  border-radius: 100%;
}