@mixin container {
  margin: auto;
  max-width: rem(960);
  padding-left: rem(16);
  padding-right: rem(16);

  @media (min-width: rem(1000)) {
    padding-left: rem(16);
    padding-right: rem(16);
  }
}

@mixin square($size) {
  height: $size;
  width: $size;
}

@mixin circle($size) {
  @include square($size);
  border-radius: 100%;
}