$font-size: 16;
$font-serif: 'Rye', Georgia, serif;
$font-sans-serif: 'Dosis', sans-serif;

@function rem($value) {
  @return $value / #{$font-size}rem;
}

@function em($value) {
  @return $value / #{$font-size}em;
}

html {
  font-size: #{$font-size}px;
}

body {
  font-family: $font-sans-serif;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.45;

  color: $black;
}

p {
  margin: 0 0 1.3em;
}

input, 
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0 0 0.5em;

  font-family: $font-serif;
  font-weight: 400;
  line-height: 1.2;

  color: $blue;
}

h1 { font-size: 1.602em; }
h2 { font-size: 1.424em; }
h3 { font-size: 1.266em; }
h4 { font-size: 1.125em; }

@include media($bp-sm) {
  h1 { font-size: 2.074em; }
  h2 { font-size: 1.728em; }
  h3 { font-size: 1.44em; }
  h4 { font-size: 1.2em; }
}

@include media($bp-md) {
  h1 { font-size: 2.441em; }
  h2 { font-size: 1.953em; }
  h3 { font-size: 1.563em; }
  h4 { font-size: 1.25em; }
}

ul, ol {
  margin: 0;
  padding-left: 0;
  list-style: none;
}