<section class="section big-day" id="big-day">
  <div class="big-day__content">
    <h1 class="big-day__title">{{ bigDay.title }}</h1>
    <table class="big-day__details">
      <tbody>
        {{#each bigDay.details }}
          <tr class="big-day__detail">
            <td class="big-day__label">
              {{ label }}:
            </td>
            <td>
              {{ value }}
            </td>
          </tr>
        {{/each}}
      </tbody>
    </table>
  </div>
  <div class="big-day__picture"></div>
</section>