<section class="section cta">
  <div class="cta__container">
    <h1 class="cta__title">{{ cta.title }}</h1>
    <p class="cta__message">{{{ cta.message }}}</p>
    <a class="cta__button" href="/{{lang}}/rsvp">{{ cta.button }} →
    </a>
  </div>
</section>