<div class="event">
  <div class="event__aside">
    <h3 class="event__time">{{ time }}</h3>
  </div>
  <div class="event__info">
    <h4 class="event__title">{{ title }}</h4>
    <p class="event__description">{{ description }}</p>
  </div>
</div>