<section class="section faq" id="faq">
  <div class="faq__content">
    <h1 class="faq__title">{{ faq.title }}</h1>
    <ul class="faq__list">
      {{#each faq.questions}}
        <li class="faq__item">
          <h2 class="faq__question">{{ question }}</h2>
          <p class="faq__answer">{{ answer }}</p>
        </li>
      {{/each}}
    </ul>
  </div>
</section>
