<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>{{ @appName }}</title>
  <link href="https://fonts.googleapis.com/css?family=Dosis:400,600|Rye" rel="stylesheet">
  <link href="/static/styles/main.css" rel="stylesheet" />
</head>
<body class="{{className}}">