<header class="hero">
  <div class="hero__container">
    <h1 class="hero__title">{{ hero.title }}</h1>
    <h2 class="hero__subtitle">
      {{ event.date }}
      <img src="/static/images/star.svg" alt="" class="hero__star" />
      {{ event.city }}
    </h2>
  </div>
</header>