<header id="what-to-do" class="map">
  <div class="map__container">
    <h1 class="map__title">{{ map.title }}</h1>
    <iframe src="https://www.google.com/maps/d/u/0/embed?mid=1WuA6bu42FRqxoWdXLrYGiqALiYc" width="100%" height="480" style="border: none"></iframe>
  </div>
</header>