{{#with moreInfo}}
  <section class="section more-info" id="more-info">
    <div class="more-info__content">
      <h1 class="more-info__title">{{ title }}</h1>
      <ul class="more-info__list">
        {{#each questions}}
          <li class="more-info__item">
            <h2 class="more-info__question">{{ question }}</h2>
            {{#each answer}}
              <p class="more-info__answer">{{{ this }}}</p>
            {{/each}}
          </li>
        {{/each}}
      </ul>
    </div>
  </section>
{{/with}}