{{> header}}
  <h1>{{ @appName }}</h1>
  <p>This application is a simple example of to show IBMid authentication can be done in a Node + Express application</p>
  <a href="/login">Log In</a>
{{> footer}}
