{{> header}}
  <form method="POST" action="/admin/login">
    <label for="username">Username</label>
    <input id="username" name="username" required />

    <label for="password">Password</label>
    <input id="password" name="password" type="password" required />

    <button>Login</button>
  </form>
{{> footer}}
