@import 'global/media-queries';
@import 'global/colors';
@import 'global/typography';
@import 'global/layout';
@import 'global/reset';
@import 'global/buttons';

@import 'components/nav';
@import 'components/hero';
@import 'components/big-day';
@import 'components/form';

.rsvp {
  background: $blue;

  &__container {
    @include container;
    box-sizing: border-box;
    padding: 1em 2em;
    background-color: white;
  }
}